.Title{font-family: Arial, Helvetica, sans-serif;  
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  user-select: none;
}

.Main{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 10px;
  text-align: center;
  user-select: none;
}