<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opensound | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}">
</head>
<body>
    <header>
        <h1 class="Title">Opensound</h1>
        <hr>
    </header>

    <p class="Main">Welcome to the Opensound control panel.</p>
    <p class="Main">To access features click/tap on the buttons above.</p>
    <p class="Main">For now this site will look very barebones because I'm not a web developer!</p>
    
</body>
</html>