<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opensound | Music</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/Style.css') }}">
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='Icons/MainIconDesktop.ico') }}">
</head>
<body>
    <script src="{{ url_for('static',filename='Src/SocketIO.js')}}"></script>
    <script src="{{ url_for('static',filename='Src/MusicClient.js')}}"></script>
    <header>
        <h1 class="Title">Opensound</h1>
        <button class="Button" onclick='
        
        var OldWindow = window.location.href

        var NewWindow = OldWindow.replace("Music","")
        window.location.replace(NewWindow)      
        '>Home</button>
        <hr>
    </header>
    <h4 class="Main" id="SongName">Loading Music...</h4>
    <div style="text-align: center;"> 
        <button class="ButtonSmall" id="PlayButton" onclick="ToggleSongPlaying()">Pause</button>
    <input type="range" min="0" max="1000" class="MusicProgressBar" id="MusicProgressBar"> 
        <h5 class="Main">0:00/0:00</h5>

    </div>
    <div class= "MusicControlContainer">
        <button class="MusicControlButton"MusicControlButton>
        <img src="{{url_for('static', filename='Icons/Favourite/False.png') }}" alt="Favourite" class="MusicControlImage">
        </button>
        <button>Loop</button>
        <button>Restart</button>
    </div>
    <hr>
    <div style="text-align: center;">
    <input type = "text" id = "MusicSearch" placeholder="Enter the song name." class = "InputBox">
    </div>
    <button class="ButtonSmall" onclick="OnSubmit()">Submit</button>
    <hr>
    <ol style="text-align: center;" id="SearchResultsContainer">


    </div>

</body>
</html>