<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opensound | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Style/Style.css') }}">
</head>
<body>
    <header>
        <h1 class="Title">Opensound</h1>
        <button class="Button" onclick='
        
        var OldWindow = window.location.href

        var NewWindow = OldWindow.replace("Music","")
        window.location.replace(NewWindow)      
        '>Home</button>
        <hr>
    </header>

</body>
</html>